ol.breadcrumb
  li
    a(href='/') Sets
  li.active Details

.btn-group
  button.btn.btn-danger(ng-click="removeSet()") Remove Set

.media(ng-repeat='movie in set.movies')
  .media-left
    img.media-object(style="max-width:92px;",ng-src="{{ (movie.thumbnail | kodiImageToUrl) ||'defaultUrl' }}")
  .media-body
    .panel.panel-default
      .panel-heading
        h3.panel-title {{movie.label}} ({{movie.year}})
          .pull-right ({{movie.movieid}})
      .panel-body
        i {{movie.sorttitle || 'no sorttitle'}}

hr

pre {{ set | json }}